<%= form_for(@funding) do |f| %>
  <% if @funding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funding.errors.count, "error") %> prohibited this funding from being saved:</h2>

      <ul>
      <% @funding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :account_number %><br>
    <%= f.number_field :account_number %>
  </div>
  <div class="field">
    <%= f.label :routing_no %><br>
    <%= f.number_field :routing_no %>
  </div>
  <div class="field">
    <%= f.label :agreed %><br>
    <%= f.check_box :agreed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
